.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    font-size: 0.8rem;
    font-weight: 200;
}

.footer-logo {
    height: 24px;
}

.footer-logo:hover{
    cursor: pointer;
}