:root{
  --dark-color: #487555;
  --light-color: #41B564;
  --link-color: #FFFFF0;
  --text-dark-color: #4B3A3A;
  --text-light-color: #FFFFF0;
  --error-color: #F51D1B;
}

html,
body {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.app{
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.app-inner{
  width: 100%;
  max-width: 736px;
  align-self: center;
  flex: 1;
}

.header{
  margin-top: 1.25rem;
  font-size: 3rem;
  line-height: 1;
  font-weight: 800;
}

.text-center{
  text-align: center;
}

.justify-center{
  justify-items: center;
}

.gradient {
  background-image: linear-gradient(
    45deg,
    hsl(192deg 90% 53%) 0%,
    hsl(198deg 96% 63%) 8%,
    hsl(204deg 100% 71%) 17%,
    hsl(212deg 100% 76%) 25%,
    hsl(224deg 100% 81%) 33%,
    hsl(242deg 87% 85%) 42%,
    hsl(264deg 71% 82%) 50%,
    hsl(287deg 56% 80%) 58%,
    hsl(312deg 58% 79%) 67%,
    hsl(328deg 74% 81%) 75%,
    hsl(340deg 85% 82%) 83%,
    hsl(350deg 91% 83%) 92%,
    hsl(0deg 91% 83%) 100%
  );
  background-clip: text;
  color: transparent;
}

h1{
  margin-top: 0;
  margin-bottom: 0;
}

h2, p{
  color: var(--text-dark-color);
}

section{
  width: 100%;
}
