.maps-button{
    background-color: #41B564;
    color: var(--text-light-color);
}

.maps-button:hover:enabled,
.maps-button:focus:enabled{
    background-color: #228B22;
    color: var(--text-light-color);
}